<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    <h1>マイページログイン</h1>
    <form action="/login" method = "post">
        <div class="login_info">
            <p>メールアドレス</p>
            <input type="text" name="mail">
            <p>マイページパスワード</p>
            <input type="password" name="password" placeholder="半角英数字">    
        </div>
  
        <div class="login_btn">
            <input type="submit" name="save" value="ログイン">
        </div>
    
    </form>
    
</body>
</html>