<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
</head>
<body>
    <h1>SUNABACO卒業生<br>新規登録</h1>

    <h2>規約・お願い</h2>
            <span>※依頼していただくお客様に分かりやすい表現を心掛けてください。</span><br>
            <span>※私達はまだ「駆け出してもいないエンジニア」です。<br>
            このサイトは「稼ぐ」というよりは、「実績作り」の為のサイトです。<br>
            「駆け出してもいないエンジニア」という事を自覚して値段設定は良心的な設定でお願いします。<br>
            (5000~30000円程度が目安)</span><br>
            <span>※登録して頂いたSUNABACO卒業生とは質問、協力等ををして頂けるようにslackの中に「天草Webの銀天街」のチャンネルを用意しています。<br>
            難しい案件を協力して解決したり、新しく勉強を一緒にする仲間を集めたりする時にご自由にお使い下さい。</span><br>
            <span>これから皆さんがいいスタートを切れるように助け合いながら天草全体を盛り上げていきましょう！</span>


    <form action="/form" method="post">
        <p>名前</p>
        <input type="text" name="last_name" placeholder="名字">
        <input type="text" name="first_name" placeholder="名前">
        <p>メール</p>
        <input type="mail" name="mail" placeholder="メールアドレス">
        <p>電話番号</p>
        <input type="tel" name="tel" placeholder="半角数字（ハイフンなし）">
        <p>マイページパスワード</p>
        <input type="password" name="password" placeholder="半角英数字、６字以上">
        <button type="submit">新規登録</button>
        
    </form>
    

    
</body>
</html>