{% extends 'index.html' %}
{% block content %}
  <style>
    body {
      margin: auto;
      font-size: 20px;
      width: 600px;
      margin-left: auto;
      margin-top: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    h3 {
      color: rgb(238, 117, 47);
    }
  </style>
  <!-- htmlでfor文をまわしてmembersからappearが1になっている人の分だけ表示する
  user_listの中には1人1人の情報がタプル型でリストに格納されている -->
    {% for user in user_list %}
    <div class="card" style="width: 18rem;">
      <div class="caed-body">
        <img src="..." class="card-img-top" alt="" width="300" height="300">
        <h2 class="card-title">{{user[0]}}</h2>
        <h3 class="card-price">￥{{user[1]}}～￥{{user[2]}}</h3>
        <h2 class="card-title">{{user[3]}}</h2>
        <button onclick="location.href='/detail'">詳細ページを見る</button>
      </div>
    </div>
    {% endfor %}
    {% endblock %}