<!-- {% extends 'index.html' %}
{% block content %}
  <style>
    body {
      margin: auto;
      font-size: 20px;
      width: 600px;
      margin-left: auto;
      margin-top: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    h3 {
      color: rgb(238, 117, 47);
    }
  </style>
  <!-- htmlでfor文をまわしてmembersからappearが1になっている人の分だけ表示する
  user_listの中には1人1人の情報がタプル型でリストに格納されている -->
    <!-- {% for user in user_list %}

    <div class="col-sm">
      <div class="card">
          <img src="../static/uploads/{{user[4]}}" class="card-img-top" alt="{{user[4]}}">
          <div class="card-body">
            <h5 class="card-title">{{user[0]}}</h5>
             <p class="card-text">￥{{user[1]}}~￥{{user[2]}}</p>
             <p class="card-text">{{user[3]}}</p>
            <a href="/detail" class="btn btn-primary">詳細ページ</a>
          </div>
        </div>
      One of three columns
    </div>

    {% endfor %}
    {% endblock %} --> 